.menu__link {
    color: rgb(112, 112, 112);
    margin-right: 2rem;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3rem;
    padding: 1vh 1vw;
    font-weight: bold;
}

.menu__link.activo {
    color: #42210B;
}

.menu__link:hover {
    color: snow;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3rem;
    padding: 1vh 1vw;
    background-color: #C1272D;
    border-radius: 30px;
    font-weight: bold;
    
}

.menu__link:active {
    color: white;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3rem;
    padding: 1vh 1vw;
    background-color: #9b2125;
    border-radius: 30px;
    font-weight: bold;
}