.acerca {
    text-align: center;
    padding: 2.5rem;
}

@media screen and (min-width: 0) {
    .acerca{
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .acerca{
        font-size: 5rem;
    }
}