.acerca__titulo {
    text-align: center;
    font-size: 3.1rem;
    font-family: 'Kalam', cursive;
    color: #C1272D;
    transition: 1s;
}

.acerca__titulo:hover {
    text-align: center;
    font-size: 3.1rem;
    font-family: 'Kalam', cursive;
    color: #C1272D;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}