.receta__boton {
  align-items: center;
  background-color: #c1272d;
  border-radius: 10px;
  border-style: none;
  color: snow;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  transition: 0.5s;
}

.receta__boton:hover {
  background-color: #9b1e22;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  transition: 0.5s;
}

.receta__boton:active {
  background-color: #8b181c;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 20px;
  padding: 10px;
  transition: 0.5s;
}
