.receta__boton {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: snow;
    border-style: none;
    padding: 10px;
    margin: 20px;
    background-color: #C1272D;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
}

.receta__boton:hover {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;
    border-style: none;
    padding: 10px;
    margin: 20px;
    background-color: #9b1e22;
    border-radius: 10px;
    transition: 0.5s;
}

.receta__boton:active {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;
    border-style: none;
    padding: 10px;
    margin: 20px;
    background-color: #8b181c;
    border-radius: 10px;
    transition: 0.5s;
}