.cabecera {
    align-items: center;
    background-color: #b2ddb5;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* .logo {
    height: 175px;
} */