.cabecera {
    align-items: center;
    background-color: #b2ddb5;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

@media screen and (min-width: 0) {
    .cabecera {
        justify-content: center;
        padding: 1.2rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecera {
        justify-content: space-between;
        padding: 0 5rem;
    }
}