/* @media screen and (max-width: 600px) {
  ..menu-item .menu-link {
      position: relative;
      right: 0;
      top: 0;
  }
} */
/* body, html {
  background-color: bisque;
} */


.banner__imagen {
  width: 100%;
}