.quienes-somos__titulo {
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 3.1rem;
    text-align: center;
    color: #C1272D;
    transition: 1s;
}

.quienes-somos__titulo:hover {
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 3.1rem;
    text-align: center;
    color: #C1272D;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}