.persona__nombre {
    color: #C1272D;
    font-family: "Kalam", cursive;
    font-size: 2rem;
    margin: 1rem 0;
    transition: 1s;
}

.persona__nombre:hover {
    color: #C1272D;
    font-family: "Kalam", cursive;
    font-size: 2rem;
    margin: 1rem 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}